<div class="container">

  <div class="row">
    <div class="col-md-6 mx-auto">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="admincontrols">
        <mat-card>
          <mat-form-field appearance="outline" color='warn' style="width: 100%;">
            <mat-label>
            User Name
            </mat-label>
            <input matInput formControlName="username" required>
            <mat-error>username required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" color='warn' style="width: 100%;" >
            <mat-label>
              Department
            </mat-label>
            <input matInput formControlName="department" required>
            <mat-error>Department required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" color='warn' style="width: 100%;">
            <mat-label>
            PhoneNumber
            </mat-label>
            <input matInput formControlName="phonenumber" required>
            <mat-error>PhoneNumber required</mat-error>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary">Submit</button>
        </mat-card>
      </div>

    </form>
  </div>

  </div>
</div>
